body{
	background-image: url("https://powerpowder.github.io/ipttask2/other/pixel-city.gif");
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}

.cart{
	background: rgba(240, 240, 240, 0.5);
	margin: 0 30%;
}

h1{
	color: #fff;
	text-align: center;
}