#overview{
    background-image: url("https://powerpowder.github.io/test/products/pictures/hots-battle.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#separate{
    font-family: 'Chelsea Market', cursive;
}
  
#buy-product{
    background-image: url("https://powerpowder.github.io/test/other/hots-gameplay.jpg");
}