#overview{
    background-image: url("https://powerpowder.github.io/test/products/pictures/reins.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#separate{
    font-family: 'Rajdhani', sans-serif;
}

#buy-product{
    background-image: url("https://powerpowder.github.io/test/other/overwatch-gameplay.jpg");
}