#overview{
    background-image: url("https://powerpowder.github.io/ipttask2/products/pictures/sc2.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#separate{
    font-family: 'Roboto Mono', monospace;
}

#buy-product{
    background-image: url("https://powerpowder.github.io/ipttask2/other/sc2-gameplay.jpg");
}